SWVF_1_22.txt filter=lfs diff=lfs merge=lfs -text
SWVF_23_44.txt filter=lfs diff=lfs merge=lfs -text
SWVF_45_66.txt filter=lfs diff=lfs merge=lfs -text
SWVF_67_88.txt filter=lfs diff=lfs merge=lfs -text
